* {
    cursor:default;
}

.documentContainer{
    /* background-color:blue; */
    /* outline:solid;
    outline-color:yellow; */
    width:min-content;
 }


.pdfContainer{
    width:500px;
    /* outline:solid;
    outline-color:blue;
    background-color:orange; */
}